<header class="header">
        <div class="message-banner-mobile">
             <p class="title">New training</p>
             <p class="subtitle">Linux graphics course</p>
             <a class="message-link" target="_blank" href="https://bootlin.com/blog/new-training-course-displaying-and-rendering-graphics-with-linux/"></a>
        </div>
        <div class="message-banner-desktop">
             <p class="title">New training</p>
             <div class="subtitle"><p>Linux graphics course</p></div>
             <a class="message-link" target="_blank" href="https://bootlin.com/blog/new-training-course-displaying-and-rendering-graphics-with-linux/"></a>
        </div>
	<h1>
		<object data="/hcal/images/bootlin-logo-white.svg" type="image/svg+xml">
		<!-- If the browser doesn't support SVG  -->
		<img src="/hcal/images/bootlin-logo-white.png" alt="Bootlin logo" />
		</object>
	</h1>
	<h2>Elixir Cross Referencer</h2>
	<nav>
		<ul class="nav-links">
			<li><a href="https://bootlin.com/">Home</a></li>
			<li><a href="https://bootlin.com/engineering/">Engineering</a></li>
			<li><a href="https://bootlin.com/training/">Training</a></li>
			<li><a href="https://bootlin.com/docs/">Docs</a></li>
			<li><a href="https://bootlin.com/community/">Community</a></li>
			<li><a href="https://bootlin.com/company/">Company</a></li>
		</ul>
		<ul class="social-icons">
			<li><a target="_blank" class="icon-twitter" href="http://twitter.com/bootlincom">twitter</a></li>
			<li><a target="_blank" class="icon-mastodon" href="https://fosstodon.org/@bootlin">mastodon</a></li>
			<li><a target="_blank" class="icon-linkedin" href="https://www.linkedin.com/groups/4501089">linkedin</a></li>
			<li><a target="_blank" class="icon-github" href="https://github.com/bootlin">github</a></li>
		</ul>
	</nav>
</header>
